<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269456586674-ed8ot5235t32r7e4s39l00c68elhrkpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269456586674-ed8ot5235t32r7e4s39l00c68elhrkpq</string>
	<key>API_KEY</key>
	<string>AIzaSyAd6zfCB3uyt5BqJ8mVjbpaqlnbxIXgBJc</string>
	<key>GCM_SENDER_ID</key>
	<string>269456586674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raihanarman.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swifttodolist-68a86</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttodolist-68a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269456586674:ios:50434aa55f15a3dec556ab</string>
</dict>
</plist>